@define-color foreground #B3C9D4;
@define-color background #09080B;
@define-color accent #EFA319;
@define-color success #00FF00;
@define-color error #FF0000;
@define-color info #00FFFF;
@define-color warning #FFFF00;
